<%= form_with(model: shortcut, local: true) do |form| %>
  <table class='table table-sm table-striped shortcut-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form.label(:name, "Name:") %>
          <%= form.text_field(:name) %>
        </td>
        <td>
          <%= form.label(:path, "Url:") %>
          <%= form.text_field(:path) %>
        </td>
        <td>
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
  


