<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class='container'>
  <h2>Shortlinks</h2>
  <div class='input_fields'>
	  <%= form_tag(shortcuts_path, method: "get") do %>
	    <%= label_tag(:go_link, "Go to shortlink:") %>
	    <%= text_field_tag(:go_link) %>
	    <%= submit_tag("Go") %>
	  <% end %>
	  <%= form_tag(shortcuts_path, method: "get") do %>
	    <%= label_tag(:shortlink, "Search for shortlink:") %>
	    <%= text_field_tag(:shortlink, @search_term) %>
	    <%= submit_tag("Search") %>
	  <% end %>
	</div>
	
  <table class='table table-sm table-striped shortcut-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Share via SMS</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shortcuts.each do |sc| %>
        <tr>
          <td class='title'><%= sc.name %></td>
          <td class='title'><%= sc.path %></td>
          <td>
            <%= form_tag(twilio_shortcut_path(sc), method: "get") do %>
            <%= label_tag(:number, "Enter number:") %>
            <%= text_field_tag(:number) %>
            <%= submit_tag("Send") %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_shortcut_path(sc) %></td>
          <td><%= link_to 'Remove', sc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Shortcut', new_shortcut_path %>
</div>
